body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.single-article
  border: 1px solid #eaeaea
  box-shadow: 0 0 6px 0 #eaeaea
  padding: 40px
  border-radius: 25px
  margin: 0 auto

  img
    max-width: 100%

  .article-head
    div
      margin: 5px 0

  .article-body
    text-align: justify

.articles-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

  a
    text-decoration: none

  .article-container
    box-shadow: 1px 2px 2px #AFAFAF
    margin: 10px
    width: 360px
    height: 360px
    color: #232323

    .article-image
      position: relative

      img
        max-height: 175px
        width: 100%

      .article-short-title
        position: absolute
        top: 10px
        left: 10px
        padding: 2px 8px
        font-weight: 800
        font-size: 0.75em
        color: #eee
        background-color: #3f4bd6

    .article-data
      padding: 5px 10px

      .article-title
        font-size: 16px

      .article-summary
        text-align: justify