<div class="card shadow">
    <div class="card-header border-0">
        <h1>Articles</h1>
    </div>
</div>

<div class="card shadow my-4">
    <div class="card-header bg-gradient-primary"></div>
    <div class="card-body">
        <table class="table table-striped table-bordered dt-responsive" id="articlesTable">
            <thead>
            <tr>
                <th>CreatedAt</th>
                <th>Title</th>
                <th>Author</th>
                <th>Site</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>