<div id="single-article">
    <div class="card shadow">
        <div class="card-header border-0 clearfix">
            <h2>Compare articles</h2>
        </div>
    </div>

    <div class="card shadow my-4">

        <div class="card-body">

        </div>
    </div>
</div>