<div>
    <h1>News site scraper</h1>
    <button class="btn btn-outline-primary run-scraper">Run scraper</button>
    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Progress</h4>
            <div class="real-time mt-4">

            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
    $(document).ready(() => {
        $('.run-scraper').on('click', () => {
            $.get('/scraper/pages').then(() => {
                console.log('loaded scraper!');
            });
        });
    });
    const socket = io.connect('http://localhost:3000');

    socket.on('fetchedArticles', function(data) {
        console.log(data);
        let total = data.count;

        let template = `<div class="site-entry mt-4" data-site="${data.site}">
                            <div class="my-2">
                                <b>${data.site}</b>
                                <p class="info">Found ${total} articles!</p>
                            </div>
                            <div class="progress-container">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="${total}" data-value="0" data-max="${total}"></div>
                            </div>
                            <table class="table table-striped">
                                <thead><tr>
<th>Title</th>
<th>Author</th>
<th>Link</th>
</tr></thead>
                                <tbody></tbody>
                            </table>
                        </div>`;

        $('.real-time').append(template);
    });

    socket.on('fetchedArticle', function(data) {
        let $siteEntry = $(`div.site-entry[data-site=${data.site}]`);
        let $progressBar = $siteEntry.find('div.progress-bar');
        let $tableBody = $siteEntry.find('table tbody');

        let val = parseInt($progressBar.data('value'));
        let total = parseInt($progressBar.data('max'));

        val = val + 1;
        let progress = (val / total) * 100;
        $progressBar.css('width', progress + '%').
                attr('aria-valuenow', progress).
                text(val + '/' + total).data('value', val);

        let $row = `
            <tr>
<td>${data.title}</td>
<td>${data.author}</td>
<td><a target="_blank" href="${data.url}">Link</a></td>
</tr>`;
        $tableBody.append($row);
    });
</script>